<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% load static %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/atom-one-dark-reasonable.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
<body>
    {% for title, text in contents %}
        <h1>{{ title }}</h1>
        <div>
            <pre><code class="python">
                {{ text }}
            </code></pre>
            <script>hljs.initHighlightingOnLoad();</script>
        </div>
    {% endfor %}
</body>
</html>